SteamAppId="376030"
LD_LIBRARY_PATH="/home/steam/apps/ark/linux64:$LD_LIBRARY_PATH"
MAP="TheIsland"
NAME="AudiohackedIsland"
PORT="7777"
QUERY_PORT="27015"
PASSWORD="redhatredhat"
ADMIN_PASSWORD="lostinthefiberoftime"
SERVER_OPTS="?SessionName=AudiohackedIsland?ServerPassword=redhatredhat?ServerAdminPassword=lostinthefiberoftime?Port=7777?QueryPort=27015"
SERVER_ARGS="-server -log -NoBattlEye"
